.wrapper--header {
  .header--main {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100px;
    z-index: 1;
  }

  .header--logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header--info--main {
    display: flex;
    align-items: center;
    gap: 18px;
    .header--info {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;

      width: 141px;
      height: 40px;
      border-radius: 10px;

      background: rgb(48, 46, 90);
      color: rgb(255, 255, 255);
      font-family: Inter;
      font-size: 14px;
      font-weight: 600;
      line-height: 14px;
      letter-spacing: 0%;
      text-align: left;
    }
  }
}

@media (max-width: 484px) {
  .header--main {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
}
