<div class="wrapper--header">
  <header>
    <div class="header--main container">
      <div class="header--logo">
        <a href="#" routerLink="">
          <img src="assets/logo.svg" alt="Company Logo">
        </a>
      </div>
      <div class="header--info--main">
        <div class="header--info">
          <img src="assets/calendar_today.png" alt="">
          28 декабря
        </div>
        <div class="header--info">
          <img src="assets/gg_time.png" alt="">
          3,5 часа
        </div>
      </div>
    </div>
  </header>
</div>
